---
title: Регистрация | Zoo-Chat
pageHeader: Регистрация
fields:
  - label: Имя
    name: first_name
    type: text
  - label: Фамилия
    name: second_name
    type: text
  - label: Логин
    name: login
    type: text
  - label: Пароль
    name: password
    type: password
  - label: Почта
    name: email
    type: email
  - label: Телефон
    name: phone
    type: phone
submitButtonText: Зарегистрироваться
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class="content">
        <form class="form" action="">
          <h1>{{pageHeader}}</h1>

          <ul class="form-fields">
          {{#each fields}}
            {{#and label name type}}
              <li class="form-field">
                <label class="label" for="{{name}}">{{label}}</label>
                <input class="input" id="{{name}}" name="{{name}}" type="{{type}}">
              </li>
            {{/and}}
          {{/each}}
          </ul>

          {{> submit-button}}
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}