---
bodyClass: chats
scripts:
  - ../modules/chats.js
stylesheets:
  - ../styles/chats.css
title: Чаты | Zoo-Chat
pageHeader: Список чатов
chats:
  - userName: Катя
    status: online
  - userName: Коля
    status: offline
  - userName: Оля
    status: offline
  - userName: Настя
    status: offline
  - userName: Павел Сергеевич
    status: offline
  - userName: Kroca
    status: offline
links:
  - text: ошибка 404
    url: ./404.hbs
  - text: ошибка 5**
    url: ./5**.hbs
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div>
        <ul>
          {{#each chats}}
            {{#and userName status}}
              <li>
                <a href="./chat.hbs"><span>{{userName}}</span></a>
                <span>{{status}}</span>
              </li>
            {{/and}}
          {{/each}}
        </ul>

        <ul>
          {{#each links}}
            {{#and url text}}
              <li>
                <a href="{{url}}">{{text}}</a>
              </li>
            {{/and}}
          {{/each}}
        </ul>
      </div>
    </main>
  {{/content}}
{{/extend}}