---
title: Вход | Zoo-Chat
pageHeader: Вход
fields:
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
submitButtonText: Войти
linkText: Ещё не зарегистрированы?
linkUrl: ./sign-up.hbs
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class="content">
        <form class="form" action="">
          <h1>{{pageHeader}}</h1>

          <ul class="form-fields">
            {{#each fields}}
              {{#and label inputName fieldType}}
                <li class="form-field">
                  <label class="label" for="{{inputName}}">{{label}}</label>
                  <input class="input" name="{{inputName}}" type="{{fieldType}}">
                </li>
              {{/and}}
            {{/each}}
          </ul>
          <a class="link" href="{{linkUrl}}">{{linkText}}</a>

          {{> submit-button}}
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}