---
title: Вход | Zoo-Chat
pageHeader: Вход
fields:
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
submitButtonText: Войти
linkText: Ещё не зарегистрированы?
linkUrl: ./sign-up.hbs
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div class="content">
        <form action="">
          {{#each fields}}
            {{#and label inputName fieldType}}
            <p>
              <label for="{{inputName}}">{{label}}</label>
              <input name="{{inputName}}" type="{{fieldType}}">
            </p>
            {{/and}}
          {{/each}}

          {{> submit-button}}
        </form>

        <p>
          <a class="link" href="{{linkUrl}}">{{linkText}}</a>
        </p>
      </div>
    </main>
  {{/content}}
{{/extend}}