---
bodyClass: index
scripts:
  - ../modules/index.js
stylesheets:
  - ../styles/index.css
title: Вход | Zoo-Chat
pageHeader: Авторизация
fields:
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
submitButtonText: Войти
linkText: Ещё не зарегистрированы?
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div>
        <form action="">
          {{#each fields}}
            {{#and label inputName fieldType}}
            <p>
              <label for="{{inputName}}">{{label}}</label>
              <input name="{{inputName}}" type="{{fieldType}}">
            </p>
            {{/and}}
          {{/each}}

          {{> submit-button}}
        </form>

        <p>
          <a href="./sign-up.hbs">{{linkText}}</a>
        </p>
      </div>
    </main>
  {{/content}}
{{/extend}}