---
title: Настройки пользователя | Zoo-Chat
pageHeader: Настройки пользователя
fields:
  - label: Имя
    name: first_name
    type: text
  - label: Фамилия
    name: second_name
    type: text
  - label: Логин
    name: login
    type: text
  - label: Отображать имя
    name: display_name
    type: text
  - label: Почта
    name: email
    type: email
  - label: Телефон
    name: phone
    type: phone
  - label: Аватар
    name: avatar
    type: text
  - label: Старый пароль
    name: oldPassword
    type: password
  - label: Новый пароль
    name: newPassword
    type: password
submitButtonText: Сохранить
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class="content">
        <form class="form" action="">
          <h1>{{pageHeader}}</h1>

          <ul class="form-fields">
            {{#each fields}}
              {{#and label name type}}
                <li class="form-field">
                  <label class="label" for="{{name}}">{{label}}</label>
                  <input class="input" id="{{name}}" name="{{name}}" type="{{type}}">
                </li>
              {{/and}}
            {{/each}}
          </ul>

          {{> submit-button}}
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}
