---
bodyClass: profile
language: ru
meta:
  author: Alyona Eley
  description: Training project
  keywords: messenger, chat
scripts:
  - ../modules/profile.js
stylesheets:
  - ../styles/profile.css
title: Вход | Zoo-Chat
pageHeader: Настройки пользователя
fields:
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
submitButtonText: Войти
linkText: На главную
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div>
        <form action="">
          {{#each fields}}
            {{#and label inputName fieldType}}
            <p>
              <label for="{{inputName}}">{{label}}</label>
              <input name="{{inputName}}" type="{{fieldType}}">
            </p>
            {{/and}}
          {{/each}}

          {{> submit-button}}
        </form>

        <p>
          <a href="./chats.hbs">{{linkText}}</a>
        </p>
      </div>
    </main>
  {{/content}}
{{/extend}}