---
title: Настройки пользователя | Zoo-Chat
pageHeader: Настройки пользователя
fields:
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
submitButtonText: Войти
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div class="action">
        <form action="">
          {{#each fields}}
            {{#and label inputName fieldType}}
            <p>
              <label for="{{inputName}}">{{label}}</label>
              <input name="{{inputName}}" type="{{fieldType}}">
            </p>
            {{/and}}
          {{/each}}

          {{> submit-button}}
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}