---
title: Регистрация | Zoo-Chat
pageHeader: Регистрация нового пользователя
fields:
  - label: Имя
    inputName: first_name
    fieldType: text
  - label: Фамилия
    inputName: second_name
    fieldType: text
  - label: Логин
    inputName: login
    fieldType: text
  - label: Пароль
    inputName: password
    fieldType: password
  - label: Почта
    inputName: email
    fieldType: email
  - label: Телефон
    inputName: phone
    fieldType: phone
submitButtonText: Зарегистрироваться
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div class="content">
        <form class="form" action="">
          <ul class="form-fields">
          {{#each fields}}
            {{#and label inputName fieldType}}
              <li class="form-field">
                <label class="label" for="{{inputName}}">{{label}}</label>
                <input class="input" name="{{inputName}}" type="{{fieldType}}">
              </li>
            {{/and}}
          {{/each}}
          </ul>

          {{> submit-button}}
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}