<form class="form" action="">
  <h1> {{ title }} </h1>

  <ul class="form-fields">
    {{#each fields}}
      <li class="form-field">
        <label class="{{ labelClass }}" for="{{ name }}">{{ labelText }}</label>
        <input class="{{ inputClass }}" id="{{ name }}" name="{{ name }}" type="{{ type }}">
      </li>
    {{/each}}
  </ul>

  {{#if link}}
    <a class="{{ link.class }}" href="{{ link.url }}">{{ link.text }}</a>
  {{/if}}

  <div class="button-wrapper">
    {{{ button }}}
  </div>
</form>
